{% extends "index.html" %}

{% block title %}
  Tanishq | Resume
{% endblock title %}

{% block main %}
 <!-- Resume Section -->
 <section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p>A Passionate Young Developer Showcasing Skills, Projects, and Experience in Technology</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Introduction</h3>

          <div class="resume-item pb-0">
            <h4>Tanishq Parmar</h4>
            <p><em>Motivated and passionate 16-year-old developer specializing in Android and Django, seeking opportunities to apply my skills in mobile and web development. Eager to contribute to innovative projects and grow in a dynamic environment.            </em></p>
            <ul>
              <li>Indore MP</li>
              <li>+91 8629996524</li>
              <li>tanishqparmar83@gmail.com</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>
              High School Student
            </h4>
            <h5>  Karnatak Vidya Nikentan, Indore (M.P) <br>
              Expected Graduation: 2030</h5>
            <p><em>Currently studying in 11th</em></p>
            <p>Subject - Commerce + Ip <br> Dummy Student </p>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Experience - 
              Freelance Developer</h4>
            <h5>Indore</h5>
            <p><em>Developed custom Android applications and websites for local businesses.</em></p>
            <h4>Mastered Technologies - </h4>
            <ul>
              <li>Android</li>
              <li>Kotlin , Java</li>
              <li>Python Django</li>
            </ul>
          </div><!-- Edn Resume Item -->

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Future Goals</h3>
          <div class="resume-item">
            <h4>Currently Working On -</h4>
          <ul>
            <li><h5>Expand Knowledge in AI and Machine Learning</h5></li>
            <p>Dive deeper into artificial intelligence and machine learning, focusing on implementing these technologies in mobile and web applications.</p>
            <li><h5>Contribute to Open-Source Projects</h5></li>
            <p>Participate in open-source communities to collaborate on large-scale projects and give back to the developer community.</p>
            <li><h5>Launch My Own App or Startup</h5></li>
            <p>Develop and launch a personal app or startup that solves real-world problems and showcases my skills.</p>
            <li><h5>Pursue Advanced Education in Computer Science</h5></li>
            <p>Continue my education in computer science to further enhance my technical skills and theoretical knowledge.</p>
          </div><!-- Edn Resume Item -->
        </ul>
          <div class="resume-item">
            <p>I’m Tanishq Parmar, a 16-year-old Android and Django developer with a deep passion for creating tech solutions and exploring new frontiers in music. I specialize in mobile app and web development, and I’m driven by a desire to learn and innovate. Looking ahead, I’m eager to expand my knowledge in AI and machine learning, contribute to open-source projects, and eventually launch my own app or startup. While pursuing advanced education in computer science, I also aim to collaborate on exciting tech projects. As a musician, I hope to compose original flute music, blending creativity with technology.</p>
          </div><!-- Edn Resume Item -->
        </div>

    </div>

  </div>

  <center data-aos="fade-up" data-aos-delay="420"><a href="/static/resume.pdf" download="" style="font-size: 1.4em; background: rgb(0, 195, 255); color: black; padding: 15px; border-radius: 10px;">Download <i class="bi bi-download"></i></a></center>
        </section>


        
{% endblock main %}
    