{% extends "index.html" %}

{% block title %}
  Tanishq | Services
{% endblock title %}
  
{% block main %}
 <!-- Services Section -->
 <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Offering Tailored Development Solutions to Meet Your Unique Needs in Mobile, Web, and Full-Stack Projects
      </p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Android App Developmente</h3>
            </a>
            <p>I build user-friendly and efficient Android apps, tailored to your needs, using Java and Kotlin. From concept to deployment, I ensure smooth functionality and a great user experience.            </p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3> Web Development with Django</h3>
            </a>
            <p>I design and develop dynamic, responsive websites using Django. Whether it's a portfolio, business site, or complex web app, I create clean and scalable solutions.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Full-Stack Development</h3>
            </a>
            <p>As a full-stack developer, I provide end-to-end development services, handling both frontend and backend to deliver fully functional and integrated applications.            </p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>API Integration</h3>
            </a>
            <p>I specialize in integrating third-party APIs into apps and websites, enabling enhanced functionality such as payment gateways, social media integration, and data services.            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3> App Debugging and Optimization</h3>
            </a>
            <p>I offer services to troubleshoot and optimize existing mobile or web applications, ensuring they run efficiently with minimal bugs and maximum performance.            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-chat-square-text"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Custom UI/UX Design</h3>
            </a>
            <p> I create visually appealing and intuitive user interfaces that offer a seamless experience, ensuring your app or website looks great and is easy to navigate.            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Services Section -->




 <!-- Pricing Section -->
 <section id="pricing" class="pricing section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Pricing</h2>
      <p>Affordable and Customized Tech Solutions for Android, Web, and Full-Stack Development to Boost Your Projects</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 gx-lg-5">

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3> Android App Development</h3>
            <h4>₹40,000</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Django Web Development</h3>
            <h4>₹55,000</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>Full-Stack Development</h3>
            <h4>₹80,000</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>API Integration</h3>
            <h4>₹16,000</h4>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-6">
          <div class="pricing-item d-flex justify-content-between">
            <h3>App Debugging and Performance Optimization</h3>
            <h4>Starting at ₹12,000</h4>
          </div>
        </div><!-- End Pricing Item -->

      </div>

    </div>

  </section><!-- /Pricing Section -->






    <!-- Stats Section -->
    <section id="stats" class="stats section accent-background">

        <img src="/static/img/stats-bg.jpg" alt="" data-aos="fade-in">
  
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-4">
  
            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="0" class="purecounter">232</span>
                <p>Clients</p>
              </div>
            </div><!-- End Stats Item -->
  
            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="60" data-purecounter-duration="0" class="purecounter">521</span>
                <p>Projects</p>
              </div>
            </div><!-- End Stats Item -->
  
            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="750+" data-purecounter-duration="0" class="purecounter">1453</span>
                <p>Hours Of Support</p>
              </div>
            </div><!-- End Stats Item -->
  
            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="2  " data-purecounter-duration="0" class="purecounter">32</span>
                <p>Awards</p>
              </div>
            </div><!-- End Stats Item -->
  
          </div>
  
        </div>
  
      </section><!-- /Stats Section -->
  

      



{% endblock main %}
    